<div style="margin-top: 40px" class="text-center mt-3" id="head"><h2 class="m-0 text-light">THÊM MỚI KHUYẾN MÃI</h2></div>
<form [formGroup]="promotionFormGroup" (ngSubmit)="submit()">
<!--  <div style="margin-top: -30px" class="row">-->
<!--    <label for="title"><b>Hình ảnh</b><span>*</span></label>-->
<!--    <div class="col-lg-2 upload-wrap">-->
<!--      <input id="01" type="file" accept="image/*" class="form-control" formControlName="image">-->
<!--    </div>-->
<!--        <div class="col-lg-10 upload-wrap uploadpreview 01"></div>-->
<!--  </div>-->
  <div style="margin-top: -30px" class="row">
    <label for="title"><b>Hình ảnh</b><span>*</span></label>
    <div class="col-lg-2 upload-wrap">
      <input id="01" type="file" accept="image/*" class="form-control" formControlName="image">
    </div>
    <div class="col-lg-10 upload-wrap uploadpreview 01"></div>
  </div>
  <div style="margin-top: -15px" class="row">
    <div class="col-lg-12">
      <label for="title"><b>Tiêu đề</b><span>*</span>
        <!--        <span style="color: red" class="ps-3">Không được để trống</span>-->
      </label>
      <input type="text" required id="title" class="form-control" formControlName="name">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="start time"><b>Thời gian bắt đầu</b><span>*</span></label>
      <input type="date" required id="start time" class="form-control" formControlName="startTime">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="end time"><b>Thời gian kết thúc</b><span>*</span></label>
      <input type="date" required id="end time" class="form-control" formControlName="endTime">
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <label for="price"><b>Mức giảm giá(VNĐ)</b><span>*</span>
        <!--        <span style="color: red" class="ps-3">Không được để trống</span>-->
      </label>
      <input type="text" required id="price" class="form-control" formControlName="discount">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <label for="detail"><b>Chi tiết</b><span>*</span></label><br>
            <textarea style="margin-top: 5px" id="detail" class="form-control" formControlName="detail"></textarea>
<!--      <input type="text" required id="detail" class="form-control" formControlName="detail">-->
    </div>
  </div>
  <div class="row">
    <div class="text-center wrapCss">
      <button type="submit" class="button btnGreen me-4">Thêm mới</button>
      <button routerLink="/list" type="reset" class="button btnYellow">Quay lại</button>
    </div>
  </div>
</form>
