<!--  nav-bar-->
<div class="row">
  <div class="topnav" id="myTopnav">
    <a href="#home" class="active"><img src="assets/picture/rum.png" style="height: 30px; width: 80px"></a>
    <a href="#news"><i class="fa-solid fa-film"></i>    Phim</a>
    <a href="#contact"><i class="fa fa-ticket"></i>    Đặt vé</a>
    <a href="#about"><i class="fa fa-user"></i>   Nhân viên</a>
    <a href="#about"><i class="fa fa-user-secret"></i>   Thành viên</a>
    <a href="#about"><i class="fa fa-percent"></i>   Khuyến mãi</a>
    <a href="#about"><i class="fa fa-video"></i>   Phòng</a>
    <a href="#about"><i class="fa fa-chart-simple"></i>
      Thống kê</a>
    <a href="javascript:void(0);" class="icon" onclick="myResize()">
      <i class="fa-solid fa-bars"></i>
    </a>
  </div>
</div>
<!--  end-nav-bar-->

