<div class="container-fluid">
  <div class="row" style="background-color: white">
    <div class="col-2"></div>
    <div class="col-8" >
      <div class="row">
        <div class="col-8">
          <h2 align="center" class="p-3">DANH SÁCH THÀNH VIÊN TÍCH CỰC NHẤT</h2>
        </div>
        <div class="col-4">
          <div class="form-group container d-flex" style="transform: translateY(20px)"  [formGroup]="timeGroup">
            <label style="width: 40%;height: 100%;transform: translateY(5px)" class="fw-bold">Thời gian</label>
            <select class="form-select" id="time" formControlName="time" (change)="find()">
              <option [value]="0">Tất cả</option>
              <option [value]="1">1 tháng</option>
              <option [value]="6">6 tháng</option>
              <option [value]="12">1 năm</option>
            </select>
          </div>
        </div>
      </div>
      <button class="btn btn-outline-primary my-3" (click)="displayChangeTemplate()">{{btnView}}</button>
      <div class="row table-responsive" *ngIf="action">
        <table border="1px" align="center"
               class="container table table-sm table-active table-bordered border border-3 border-secondary">
          <thead class="text-center bg bg-warning">
          <tr>
            <th>STT</th>
            <th>Tên thành viên</th>
            <th>Vé đã mua</th>
            <th>Tổng tiền</th>
            <th>Điểm tích lũy</th>
          </tr>
          </thead>
          <tbody class='bg-body'>
          <tr *ngFor="let item of (listCustomerTop$ | async); index as i" >
            <td class='text-center'> {{i+1}} </td>
            <td style='padding-left: 25px'>{{item.name}}</td>
            <td style='padding-left: 25px'>{{item.countTicket}}</td>
            <td style='padding-left: 25px'>{{item.totalMoney | currency: ' '}} VND</td>
            <td style='padding-left: 25px'>{{item.accumulation}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="chart-container" [hidden]="hiddenChart">
        <canvas  id="myChart" ></canvas>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
