<title>Chỉnh sửa nhân viên</title>


<div class="text-center  mt-3" id="head"><h2
  class="m-0 text-light pt-2 ">CHỈNH SỬA NHÂN VIÊN</h2></div>
<form [formGroup]="employeeFormGroup" (ngSubmit)="updateEmployee(employeeId)" *ngIf="employeeFormGroup">
  <div class="row">
    <div class="col-lg-12">
      <label for="account"><b>Tài khoản</b><span>*</span> </label>
      <input type="text" disabled id="account" formControlName="username">
    </div>

    <div formGroupName="passwordGroup">
      <div class="col-lg-12">
        <label for="psw"><b>Mật khẩu</b><span>*</span></label>
        <span *ngIf="employeeFormGroup.get('passwordGroup').hasError('required','password') &&
                      employeeFormGroup.get('passwordGroup').get('password').touched">
          Mật khẩu không được để trống!</span>


        <div class="alert alert-danger" role="alert"
             *ngIf="employeeFormGroup.get('passwordGroup').hasError('minLength','password') &&
                              employeeFormGroup.get('passwordGroup').get('password').touched">
          Mật khẩu tối thiểu 6 kí tự
        </div>
        <div class="alert alert-danger" role="alert"
             *ngIf="employeeFormGroup.get('passwordGroup').hasError('maxLength','password') &&
                              employeeFormGroup.get('passwordGroup').get('password').touched">
          Mật khẩu tối đa 15 kí tự
        </div>

        <input type="password" name="psw" required id="psw" formControlName="password">
      </div>

      <div class="col-lg-12">
        <label for="psw-repeat"><b>Nhập lại mật khẩu</b><span>*</span></label>
        <span *ngIf="employeeFormGroup.controls.passwordGroup.hasError('notSame') &&
                      employeeFormGroup.controls.passwordGroup.dirty">
            Nhập lại mật khẩu không trùng!
        </span>
        <input type="password" name="psw" required id="psw-repeat" formControlName="passwordConfirm">
      </div>

    </div>

    <div class="col-lg-12">
      <label for="name"><b>Họ tên</b><span>*</span>
      </label>
      <span
        *ngIf="employeeFormGroup.controls.name.hasError('required') &&
                      employeeFormGroup.controls.name.touched">
        Tên nhân viên không được để trống!
      </span>
      <!--            <div class="alert alert-danger" role="alert"-->
      <!--                 *ngIf="employeeFormGroup.controls.name.hasError('pattern') &&-->
      <!--                            employeeFormGroup.controls.name.touched">-->
      <!--              Tên nhân viên phải viết hoa mỗi chữ cái đầu và không được chứa số!-->
      <!--            </div>-->
      <input type="text" required id="name" formControlName="name">
    </div>

    <div class="col-lg-12">
      <label for="code"><b>CMND</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.idCard.hasError('required') &&
      employeeFormGroup.controls.idCard.touched">
      Số CMND không được để trống!</span>

      <span *ngIf="employeeFormGroup.controls.idCard.hasError('pattern') &&
                      employeeFormGroup.controls.idCard.touched">
      CMND phải gồm 9 số!</span>

      <input type="text" required id="code" formControlName="idCard">
    </div>

    <div class="col-lg-12">
      <label for="email"><b>Email</b><span>*</span>
      </label>

      <span *ngIf="employeeFormGroup.controls.email.hasError('required') &&
                      employeeFormGroup.controls.email.touched">
      Email không được để trống!</span>
      <span *ngIf="employeeFormGroup.controls.email.hasError('email') &&
                      employeeFormGroup.controls.email.touched">
      Email phải đúng định dạng có đuôi là @gmail.com!</span>
      <input type="email" required id="email" formControlName="email">
    </div>

    <div class="col-lg-12">
      <label for="phoneNumber"><b>Số điện thoại</b><span>*</span>
      </label>

      <span *ngIf="employeeFormGroup.controls.phoneNumber.hasError('required') &&
                      employeeFormGroup.controls.phoneNumber.touched">
      Số điện thoại không được để trống!</span>
      <span *ngIf="employeeFormGroup.controls.phoneNumber.hasError('pattern') &&
                      employeeFormGroup.controls.phoneNumber.touched">
      Số điện thoại gồm 10 số và bắt đầu là 090XXXXXXX!</span>
      <input type="text" required id="phoneNumber" formControlName="phoneNumber">
    </div>

    <div class="col-lg-12">
      <label for="address"><b>Địa Chỉ</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.address.hasError('required') &&
                      employeeFormGroup.controls.address.touched">
      Địa chỉ không được để trống!</span>
      <input type="text" required id="address" formControlName="address">
    </div>

    <div class="col-lg-12">
      <label for="birthday"><b>Ngày sinh</b><span>*</span></label>

      <span *ngIf="employeeFormGroup.controls.dayOfBirth.hasError('required') &&
                      employeeFormGroup.controls.dayOfBirth.touched">
      Chọn ngày sinh!</span>
      <input type="date" required id="birthday" formControlName="dayOfBirth">
    </div>

    <div class="col-lg-12">
      <label><b>Giới tính</b><span>*:</span></label><br>
      <span *ngIf="employeeFormGroup.controls.gender.hasError('required') &&
                      employeeFormGroup.controls.gender.touched">
      Chọn giới tính!</span>

      <label><input type="radio" class="m-2" value="0" name="gender" formControlName="gender" [value]="0">Nam</label>
      <label class="mx-5"><input type="radio" class="m-2 " value="1" name="gender"
                                 formControlName="gender" [value]="1">Nữ</label>
      <label><input type="radio" class="m-2" value="2" name="gender" formControlName="gender"
                    [value]="2">Khác</label><br>
    </div>

    <div class="row mt-3">
      <label for="img"><b>Hình ảnh</b><span>*</span></label>
      <span *ngIf="employeeFormGroup.controls.image.hasError('required') &&
                      employeeFormGroup.controls.image.touched">
      Chọn ảnh!</span>
      <div id="img" class="col-lg-6 upload-wrap mt-2">
        <input id="01" type="file" accept="image/*" (change)="showPreview($event)" >
      </div>
      <div class="col-lg-6 mt-2">
        <div class="uploadpreview 01"></div>
      </div>
    </div>
    <div class="clearfix row">

      <div class="col-6">
        <button type="submit" class="button shadow btnGreen ">Sửa</button>
      </div>
      <div class="col-6">
        <button type="button" class="button shadow btnRed" routerLink="list">Quay lại</button>
      </div>

    </div>
  </div>
</form>






